@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.navbar {
  background-color: #aa95f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin: 0 auto 2rem auto;
  padding: 0.625rem;
  box-shadow: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
}

.logo {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ececec;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 1.5rem;
  cursor: pointer;
  font-family: 'Nunito', sans-serif; 
  font-size: 1.5rem;
  color: #ffffff;
  transition: color 0.3s ease;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
}

.nav-item:hover {
  color: #dfee0d;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}
.text{
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
  color: #2e2e2e;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.text2{
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  margin: auto;
  color: #2e2e2e;
}

.button{
  background-color: #494949;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: fixed;
  top: 1rem;
  right: 1rem;
}